<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>业主信息 - acs(Access Control System)后台管理系统</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <!--标签插件-->
    <link rel="stylesheet" href="js/jquery-tags-input/jquery.tagsinput.min.css">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a th:href="@{index.html}"><img th:src="@{images/logo-sidebar.png}" title="logo" alt="logo"/></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"><a href="index.html"><i class="mdi mdi-home"></i> 后台首页</a></li>
                        <li class="nav-item nav-item-has-subnav active open">
                            <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 业主管理</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{/proplist.html}">业主列表</a></li>
                                <li  class="active"><a th:href="@{/addproprietor.html}">[[${propritor}?'业主信息':'添加业主']]</a></li>


                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 设备管理</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{/clientlist.html}">设备列表</a></li>
                                <li><a th:href="@{/clientloglist.html}">设备维护记录</a></li>

                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 系统维护</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{adminlist.html}">管理员列表</a></li>
                                <li><a th:href="@{addadmin.html}">添加管理员</a></li>
                                <li> <a th:href="@{/dashboard.html}">控制台</a> </li>
                                <li><a th:href="@{/visitorlogs.html}">访客日志</a></li>

                            </ul>
                        </li>
                    </ul>
                </nav>

                <div class="sidebar-footer">
                    <p class="copyright">Copyright &copy; 2019. <a target="_blank"
                                                                   href="http://lyear.itshubao.com">IT书包</a> All rights
                        reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank"
                                                    title="模板之家">模板之家</a> - Collect from <a
                                href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                </div>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> [[${propritor}?'业主信息':'添加业主']] </span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="images/users/avatar.png" alt="头像"/>
                                <span>[[${session.loginuser}]] <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a th:href="@{adminprofile.html(username=${session.loginuser})}"><i class="mdi mdi-account"></i> 个人信息</a></li>
                                <li><a href="lyear_pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
                                </li>
                            </ul>
                        </li>
                        <!--切换主题配色-->
                        <li class="dropdown dropdown-skin">
                            <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
                            <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                                <li class="drop-title"><p>主题</p></li>
                                <li class="drop-skin-li clearfix">
                                  <span class="inverse">
                                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                                    <label for="site_theme_1"></label>
                                  </span>
                                    <span>
                                        <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                                        <label for="site_theme_2"></label>
                                    </span>
                                </li>

                            </ul>
                        </li>
                        <!--切换主题配色-->
                    </ul>

                </div>
            </nav>

        </header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <form action="/addproprietor" enctype="multipart/form-data" method="post" class="row">
                                    <input type="file" style="display: none" name="faceimg" id="faceimg" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"/>
                                    <div th:if="${propritor}" style="display:none;" class="form-group col-md-12">
                                        <label for="id">id</label>
                                        <input type="text" class="form-control" id="id" name="id" th:value="${propritor}?${propritor.id}:''"  />
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="name">姓名</label>
                                        <input type="text" class="form-control" id="name" name="name" th:value="${propritor}?${propritor.name}:''" placeholder="请输入姓名" />
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="sex">性别</label>
                                        <div class="form-controls">
                                            <select name="sex" class="form-control" id="sex" >
                                                <option value="true">男</option>
                                                <option th:selected="${propritor} and ${not propritor.sex}" value="false">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="idnum">身份证号</label>
                                        <input type="text" class="form-control" id="idnum" name="idnum" th:value="${propritor}?${propritor.idnum}:''" placeholder="身份证号" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="phonenum">手机号</label>
                                        <input type="text" class="form-control" id="phonenum" name="phonenum" th:value="${propritor}?${propritor.phonenum}:''" placeholder="手机号" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="email">email</label>
                                        <input type="text" class="form-control" id="email" name="email" th:value="${propritor}?${propritor.email}:''" placeholder="email" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="address">地址</label>
                                        <input type="text" class="form-control" id="address" name="address" th:value="${propritor}?${propritor.address}:''" placeholder="详细住址（几单元几栋）" />
                                    </div>
                                    <div th:if="${propritor}" class="form-group col-md-12">
                                        <label for="regDate">注册日期</label>
                                        <input type="text" class="form-control" id="regDate" name="regDate" th:value="${#dates.format(propritor.regDate,'yyyy-MM-dd HH:mm')}" disabled="disabled" placeholder="注册日期" />
                                    </div>

                                    <div class="form-group col-md-12">

                                        <label>人脸图像</label>
                                        <div class="form-controls">

                                            <ul class="list-inline clearfix lyear-uploads-pic">
                                                <li class="col-xs-4 col-sm-3 col-md-2">
                                                    <figure>
                                                        <img id="img1" th:src="${imgUrl}" alt="图片一">
                                                        <figcaption>
                                                            <a class="btn btn-round btn-square btn-primary" th:href="${imgUrl}"><i class="mdi mdi-eye"></i></a>
                                                            <a class="btn btn-round btn-square btn-danger" href="#!"><i class="mdi mdi-delete"></i></a>
                                                        </figcaption>
                                                    </figure>
                                                </li>

                                                <li class="col-xs-4 col-sm-3 col-md-2">
                                                    <a class="pic-add" id="add-pic-btn" href= "javascript:void(0);" onclick ="putimg()" title="点击上传"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>



                                    <div class="form-group col-md-12">
                                        <label for="status">状态</label>
                                        <div id="status" class="clearfix">
                                            <label class="lyear-radio radio-inline radio-primary">
                                                <input type="radio" name="status" value="false"  th:checked="${propritor} and !${propritor.status}"><span>禁用</span>
                                            </label>
                                            <label class="lyear-radio radio-inline radio-primary">
                                                <input type="radio" name="status" value="true" th:checked="!${propritor} or ${propritor.status}"><span>启用</span>
                                            </label>
                                        </div>
                                    </div>



                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-primary">确 定</button>
                                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" >
    function putimg(){
        $("#faceimg").trigger('click');
    };

    $("#faceimg").change(function(){
        var objUrl = getObjectURL(this.files[0]) ;//获取文件信息
        console.log("objUrl = "+objUrl);
        if (objUrl) {
            $("#img1").attr("src", objUrl);
        }
    });

    function getObjectURL(file) {
        var url = null;
        if(window.createObjectURL!=undefined) {
            url = window.createObjectURL(file) ;
        }else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        }else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
</script>
</body>
</html>